<!--
 Design:




bg-[url('../static/apple-trees.jpeg')]
 -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Słownik Upraw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', file_path='styles.css') }}">
</head>
<body class="h-screen max-w-screen flex flex-col items-center bg-[url('../static/apple-trees.jpeg')] bg-fixed bg-cover bg-center font-[Quicksand-Regular]">
<script src="{{ url_for('static', file_path='htmx_2_0_4.min.js') }}"></script>
<script src="{{ url_for('static', file_path='collapsible.js') }}"></script>
<nav class="w-full max-w-7xl bg-gray-100 flex justify-center items-center gap-8 p-1 mt-2 rounded-3xl backdrop-blur-xs inset-shadow-clay-gray">
    <a class="text-green-950 text-lg px-2 py-1 cursor-pointer" hx-get="/slownik" hx-target="#main-app">Słownik Upraw</a>
    <a class="text-green-950 text-lg px-2 py-1 cursor-pointer" hx-get="/jak-to-dziala" hx-target="#main-app">Jak To Działa</a>
    <a class="text-green-950 text-lg px-2 py-1 cursor-pointer" hx-get="/api" hx-target="#main-app">API</a>
</nav>

<main class="max-w-7xl w-full grow p-8 my-4 bg-quinary-400 rounded-3xl backdrop-blur-xs inset-shadow-clay-green">
    {% include 'slownik.jinja' %}
</main>

<footer class="w-full p-2 mb-2 max-w-7xl text-center bg-tertiary-400 rounded-3xl backdrop-blur-xs text-s inset-shadow-clay-brown-regular">
    Powered by IERiGŻ. All rights reserved
</footer>
</body>

</html>